.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContentContainer {
    width: clamp(40vw, 400px, 50vw);
    max-height: 90vh;
    background-color: #00181D;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    overflow-y: auto;
    box-shadow: 10px 11px 43px 4px rgba(0, 0, 0, 0.29);
    z-index: 10000;
}

.title {
    font-size: clamp(1.5vw, 25px, 2.2vw);
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-primary);
    text-align: center;
}

.description {
    text-align: center;
    width: 100%;
    font-size: clamp(1vw, 17px, 1.8vw);
    font-weight: bold;
    margin-bottom: 20px;
}

.btnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

/* Modal form */
.modalForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.modalForm input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.modalForm label {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/* form modal Add ? edit  */

.fieldRow input {
    margin-bottom: 20px;
}

.modalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    .modalContentContainer {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .modalContentContainer {
        width: 95%;
    }
}

/* Projects items and containers */

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.projects {
    background: linear-gradient(var(--color-dark), var(--color-black));
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.projectItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: var(--color-dark-hover);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projectItem:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projectActions {
    display: flex;
    gap: 10px;
}

.addProjectButton {
    width: 100%;
    margin-top: 10px;
    padding: 0.75rem 1rem;
    font-weight: bold;
    background-color: transparent;
    border: dashed 2px var(--color-secondary);
    border-radius: 6px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.addProjectButton:hover {
    background-color: rgba(246, 173, 85, 0.1);
    color: var(--color-secondary);
}

.projectAction {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.projectAction:hover {
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .projectItem {
        flex-direction: column;
        /* Cambia a diseño vertical si no hay suficiente espacio */
        align-items: flex-start;
    }

    .projectActions {
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
    }

    .features {
        height: 200vh;
        margin-top: 2vh;

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

}