/* Contenedor para el formulario dentro del auth-container */
.authFormContainer {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espacio entre los grupos de input */
}

/* Estilo para cada grupo de label + input */
.authInputGroup {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.auth-input-group label {
    color: #8CB7C0;
    margin-bottom: 0.75rem;
    font-size: clamp(1.2vw, 16px, 1.5vw);
    font-weight: 600;
}

.auth-input-group input {
    color: white;
    background-color: rgba(140, 183, 192, 0.1);
    border: 1px solid #8CB7C0;
    border-radius: 5px;
    padding: 0.8rem;
    outline: none;
    transition: border-color 0.3s ease;
    font-weight: normal;
    font-size: clamp(.5vw, 20px, 1.1vw);
}

.auth-input-group input:focus {
    border-color: #9EEAF9;
}

/* Contenedor para los botones al final */
.auth-buttons-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}