.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.form {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #8CB7C0;
    border-radius: 10px;
    padding: 2.5rem;
}

.form h2 {
    font-size: clamp(2vw, 30px, 5vw);
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    color: #8CB7C0;
    margin-bottom: 0.75rem;
    font-size: clamp(1.2vw, 16px, 1.5vw);
}

.inputGroup input {
    color: white;
    background-color: rgba(140, 183, 192, 0.1);
    padding: 0.8rem;
    outline: none;
    transition: border-color 0.3s ease;
    font-weight: normal;
    font-size: clamp(.5vw, 20px, 1.1vw);
}

.inputGroup input:focus {
    box-shadow: none;
    border-color: #9EEAF9;
}

.submitButton,
.backButton {
    font-weight: 600;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    /* background: transparent; */
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

.submitButton:disabled {
    color: #6c757d;
    cursor: not-allowed;
}

.error, 
.success {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

.error {
    background-color: rgba(217, 48, 37, 0.3);
    border: 1px solid #d93025;
}

.success {
    background-color: rgba(21, 87, 36, 0.4);
    border: 1px solid #155724;
}

@media (max-width: 768px) {
    .form {
        gap: 1.2rem;
    }

    .form h2 {
        font-size: clamp(2vw, 24px, 6vw);
    }
}