.itemCard {
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(var(--color-dark), var(--color-primary-active));
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: var(--text-color);
    position: relative;
}

.itemCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.itemCard img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 12px;
}