.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
}

.courseMainContent {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
    padding: 10px 0;
    flex-wrap: nowrap;
    height: 35vh;
}


.titleText,
.titleInput {
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 20px 0 15px 0;
    padding: 0;
    text-align: left;
}

.titleInput:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


.addModuleButton {
    margin-top: 10vh;
    width: 100%;
    background-color: transparent;
    border: dashed 5px var(--color-secondary);
}

/* media queries */

@media (max-width: 768px) {

    .courseMainContent {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;

        gap: 20px;
        width: 100%;
        height: 60vh;
    }

    .container {
        border-radius: 10px;
        color: #ffffff;
        padding: 15px;
        padding-top: 10px;
        margin: 0px;
    }

    .titleText,
    .titleInput {
        width: 100%;
        font-size: 4vw;

        margin: 0px;
        padding: 0;
    }
}