.navbarLinkSelected {
  color: #8CB7C0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  margin: 1.6vw;
  font-size: clamp(0.8vw, 16px, 1.6vw);
}

.profileLink {
  padding: 0;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.zLogo {
  margin-left: 16px;
  width: clamp(4.8vw, 40px, 12vw);
  height: clamp(6vw, 40px, 12vw);
  object-fit: cover;
}

.manageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.imgLink {
  display: flex;
  justify-content: center;
  padding-top: 0.88vh;
  align-items: center;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

.hamburger:hover {
  background: none;
}

.hamburger:hover {
  outline: none;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 60%;
    left: 0;
    right: 0;

    background: linear-gradient(80deg, var(--color-dark) 60%, var(--color-black) 100%);
    padding: 0px 20px;
    gap: 8px;

    height: 100px;
  }

  .navLinks.showMenu {
    display: flex;
  }

  .hamburger {
    display: block;
    background-color: transparent;
  }

  .zLogo {
    width: clamp(9vw, 60px, 17vw);
    height: clamp(11vw, 65px, 20vw);
  }
}

@media (max-width: 500px) {
  .navbarLink {
    font-size: clamp(1vw, 20px, 2vw);
  }
}