.footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(80deg, #012F38 60%, #000E11 100%);
  padding: 20px 40px;
  color: #ffffff;
  flex-wrap: wrap;
  padding-bottom: 7vh;
  margin-top: 15vh;
}

.leftContainer {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightContainer {
  flex: 0 0 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.2s ease;
}

.contactItem:hover {
  color: var(--color-light-active);
}

.navPair {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.navColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 10vh;
  text-decoration: none;
  margin-top: 3vh;
}

.navColumn a {
  text-decoration: none;
  color: var(--button-primary-hover);
  margin: 5px;
  font-weight: bold;
}

.navColumn a:hover {
  color: var(--color-light-active);

}

.separator {
  border-left: 2px solid var(--color-secondary);
  height: 8vh;
  margin-left: 0;
  margin-right: 1vh;
  margin-top: 4vh;

  transform: translate(0, 0) rotate(0deg);
  transition: transform 0.5s ease;
}

.zLogo {
  margin-left: 10px;
  width: 30vh;
  height: 10vh;
  object-fit: cover;
  margin-top: 3vh;
}

.imgLink {
  display: flex;
  justify-content: center;
  padding-top: 0;
  align-items: center;
}

.a {
  text-decoration: none;
}

.iconsRedes {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Media queries */

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }

  .leftContainer {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .rightContainer {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .separator {
    transform: translate(40px, 0px) rotate(-90deg);
  }

}